---
const message = "All items are on sale for the month of June";
---

<div id = 'announcementBarContainer'
  class="flex items-center justify-center bg-gradient-to-r from-[#CCD5AE] to-[#FAEDCD] px-4 py-2 text-sm font-bold text-black sm:px-6 lg:px-8"
>
  {message}
</div>

<style>
  #announcementBarContainer {
    font-weight:normal;
    font-size:1.1em;
  }
</style>
